.table-custom {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.table-custom th, 
.table-custom td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.table-custom thead th {
    background-color: #b0b0b0 ;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

.table-custom tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-custom th:first-child,
.table-custom td:first-child {
    border-left: none;
}

.table-custom th:last-child,
.table-custom td:last-child {
    border-right: none;
}
