
.dt-search{
  text-align: 0px;
  margin-left: 220px;
}
/* Centrar el contenido de la tabla y ajustar el tamaño */
.table {
    width: 100%; /* Ocupa el 100% del contenedor */
    max-width: 90%; /* Ajusta el máximo ancho para evitar que sea demasiado grande */
    margin: 0 auto; /* Centra la tabla */
}
  
  /* Ajustar el tamaño del encabezado */
  .table th {
    font-size: 15px; /* Aumentar el tamaño de la fuente del encabezado */
    background-color: #007bff; /* Color de fondo del encabezado */
    color: #ffffff; /* Color del texto del encabezado */
  }
  
  /* Ajustar el tamaño del cuerpo de la tabla */
  .table td {
    font-size: 15px; /* Tamaño de fuente del cuerpo de la tabla */
  }

  
  .table-responsive {
    max-width: 4400px;
    overflow-x: auto;
  }

  #sidebar {
    width: 220px; /* Ajusta el ancho del sidebar */
}


.form-container {
  width: 100%; /* Asegura que el formulario ocupe el 100% del contenedor */
  max-width: 90%; /* Limita el ancho máximo para evitar que se salga de la pantalla */
  margin: 0 auto; /* Centra el formulario */
}


body, html {
  overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal */
}
.btn-edit, .btn-delete {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  margin: 0 5px; /* Espaciado entre botones */
}

.btn-sm {
  padding: 3px 7px;
  font-size: 10px;
}
